<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.pduleba.spring.annotation" />
	
	<bean id="bean" class="com.pduleba.spring.BeanImpl"/>
	
	<alias name="bean" alias="bean_a"/>
	<alias name="bean" alias="bean_b"/>
	
	<bean id="inner_bean" class="com.pduleba.spring.BeanImpl$InnerImpl"/>
	
	<bean id="factory-method" class="com.pduleba.spring.BeanImpl" factory-method="newInstance"/>
	<bean id="factory-inner_method" class="com.pduleba.spring.BeanImpl$InnerImpl" factory-method="newInstance"/>

	<bean id="bean-1" name="bean-2 bean-3,bean-4;bean-5" class="com.pduleba.spring.BeanImpl"/>

	<bean name="beanApiFactory" class="com.pduleba.spring.factory.FactoryBean"/>
	<bean id="factory-bean" factory-bean="beanApiFactory" factory-method="createNewBeanApi"/>
	
	<bean id="baseA" class="com.pduleba.spring.BaseAImpl"/>
	<bean id="baseB" class="com.pduleba.spring.BaseBImpl"/>
	<bean id="multiArgumentBean" class="com.pduleba.spring.MultiArgumentBean">
		<constructor-arg ref="baseA" index="0"/>
		<constructor-arg ref="baseB" index="1"/>
	</bean>

	<bean id="setter_based_chicken_a" class="com.pduleba.spring.ChickenBean">
		<constructor-arg value="Chicken_A"/>
		<property name="parent" ref="setter_based_chicken_b"/>
	</bean>
	
	<bean id="setter_based_chicken_b" class="com.pduleba.spring.ChickenBean">
		<constructor-arg value="Chicken_B"/>
		<property name="parent" ref="setter_based_chicken_a"/>
	</bean>
	
	<bean id="constructor_based_chicken_a" class="com.pduleba.spring.ChickenBean">
		<constructor-arg value="Chicken_A"/>
		<constructor-arg ref="constructor_based_chicken_b"/>
	</bean>
	
	<bean id="constructor_based_chicken_b" class="com.pduleba.spring.ChickenBean">
		<constructor-arg value="Chicken_B"/>
		<constructor-arg ref="constructor_based_chicken_a"/>
	</bean>
	
</beans>
